* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #4299E1;
}

.container {
  margin: 0 auto;
}

.widget {
  display: none;
  border-radius: 7px;
  background-color: rgba(26, 32, 44, 0.8549019608);
  min-height: 120px;
  min-width: 350px;
  padding: 10px;
}

.whether-now__main {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whether-now__main .whether-now__temperature {
  font-weight: 600;
  font-size: 40px;
}
.whether-now__main .whether-now__temperature .whether-now__feels-like {
  font-weight: 400;
  font-size: 18px;
}
.whether-now__main .whether-now__status {
  font-weight: 600;
  font-size: 18px;
}
.whether-now__main .whether-now__status .whether-now__city {
  font-weight: 400;
}