@import "./fontawesome/css/all.css";

$background-color: #FAFAFA;
$white: #FFF;
$main-text-color: #000;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: $main-text-color;
}

.wrapper{
  background-color: $background-color;
  min-height: 100vh;
}

.header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  background-color: $white;

  &__title {
    font-weight: 600;
  }

  &__mode{
    font-size: 14px;
    font-weight: 500;
    background-color: $white;
    border: 0;
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.search{
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  &__input, &__select{
    width: 245px;
    font-size: 14px;
    padding: 15px 40px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #42424251;
  }
  &__select{
    width: 210px;
  }

}

.countries-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;


  .country{
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #42424251;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
      width: 270px;
      height: 180px;
    }

    .country__info{
      padding: 30px;

      .country__name{
        margin-bottom: 20px;
      }

      div{
        margin-top: 5px;
        font-weight: 300;
        span{
          font-weight: 500;
        }
      }
    }
  }
}

.light-dark{
  background-color: #323234;
  color: #FFF;
}

.dark{
  .wrapper{
    background-color: #1C1C1D;
  }
  
  .header {
    background-color: #323234;
    color: #FFF;
  
    &__title {
      h1{
        color: #FFF;
      }
    }
  
    &__mode{
      background-color: #323234;
      color: #FFF;
      i{
        color: #FFF;
      }
    }
  }

  .search{
    &__input, &__select{
      background-color: #323234;
      color: #fff;
    }
  }

  .country{
    background-color: #323234;

    .country__info{
      color: #fff;

      .country__name{
        h3{
          color: #fff;
        }
      }

      div{
        color: #fff;
        span{
          color: #fff;
        }
      }
    }
  }

}